[buildout]
parts =     
   apache
   php
   mysql
   mysql_install_db
   mongodb
   postgresql
   init-pgsql
   php-memcached
   php-apc
   php-xdebug
   php-phpunit
   php-mongodb
   create_symlinks
   templates
   supervisor

versions = versions
develop = z3c.recipe.filetemplate s2.recipe
ignore-existing = true

[versions]
apache-httpd = 2.2.17
php = 5.3.6
memcached = 1.4.5
libmemcached = 0.48

[config]
apache-port = 8080
apache-port-ssl = 8443
mysqld-port = 3306
mysqld-root-password = root
memcached-port = 11222
supervisord-port = 9090

[templates]

recipe = z3c.recipe.filetemplate
source-directory = template
server_admin = admin@localhost
interpreted-options = hostname
hostname = os.uname()[1]
force-overwrite = true

[create_basic_symlinks]
recipe = collective.recipe.cmd
on_install = true
on_update = true
dummy_option = ${php:url} # hack to ensure that php is compiled before creating the symlinks
cmds =
 cd ${buildout:directory}/bin
 ln -sf ${php:location}/bin/* .

[create_symlinks]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds =
 cd ${buildout:directory}/bin

 ln -sf ${memcached:location}/bin/* .
 ln -sf ${mysql:location}/bin/* .
 ln -sf ${apache:location}/bin/* .
 ln -sf ${libmemcached:location}/bin/* .
 ln -sf ${postgresql:location}/bin/* .

[supervisor]
recipe = collective.recipe.supervisor
supervisord-conf = ${buildout:parts-directory}/${:_buildout_section_name_}/supervisord.conf
logfile = ${buildout:parts-directory}/${:_buildout_section_name_}/supervisord.log
port = 9090
programs =
  10 mysql      ${mysql:location}/bin/mysqld_safe ${mycnf:opt}
  10 postgresql ${postgresql:location}/bin/pg_ctl [-D ${postgresql:location}/var/data start]
  10 memcached  ${memcached:location}/bin/memcached [-v -p ${config:memcached-port} -U ${config:memcached-port}]
  30 apache     ${apache:location}/bin/httpd [-DNO_DETACH -f ${apache:location}/conf/httpd.conf]
  

[php]
recipe = hexagonit.recipe.cmmi
dummy_option = ${templates:source-directory}
url = http://us3.php.net/get/php-${versions:php}.tar.gz/from/de.php.net/mirror

configure-options = 
   --with-config-file-scan-dir=${buildout:parts-directory}/php/etc/conf.d
   --with-config-file-path=${buildout:parts-directory}/php/etc
   --enable-cgi
   --with-apxs2=${apache:location}/bin/apxs
   --with-config-file-path=${buildout:directory}/var/php
   --enable-force-cgi-redirect
   --with-curl
   --enable-track-vars
   --enable-trans-id
   --enable-ftp
   --enable-mbstring
   --enable-xml
   --enable-json
   --with-xml 
   --with-libmemcached-dir=${libmemcached:location}
   --without-iconv
   --with-mysqlnd
   --with-mysqli=mysqlnd
   --with-pdo-mysql=mysqlnd
   --with-sqlite3
   --with-pdo-sqlite
   --enable-sqlite-utf8

[libmemcached]
recipe = hexagonit.recipe.cmmi
url = http://download.tangent.org/libmemcached-${versions:libmemcached}.tar.gz

[php-memcached]
recipe = s2.recipe:phpext
dummy_option = ${create_basic_symlinks:on_install} # hack to ensure that php symlinks exist
url = http://pecl.php.net/get/memcached-1.0.2.tgz
php-location = ${php:location}
configure-options = ${php:configure-options}

[php-apc]
recipe = s2.recipe:phpext
dummy_option = ${create_basic_symlinks:on_install} # hack to ensure that php symlinks exist
url = http://pecl.php.net/get/APC
php-location = ${php:location}
php-configure-options = ${php:configure-options}

[php-xdebug]
recipe = s2.recipe:phpext
dummy_option = ${create_basic_symlinks:on_install} # hack to ensure that php symlinks exist
url = http://pecl.php.net/get/xdebug
php-location = ${php:location}
php-configure-options = ${php:configure-options}

[php-phpunit]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds =
  mv ${php:location}/bin/php.dSYM ${php:location}/bin/php
  ${php:location}/bin/pear channel-discover pear.pdepend.org
  ${php:location}/bin/pear channel-discover pear.phpmd.org
  ${php:location}/bin/pear channel-discover pear.phpunit.de
  ${php:location}/bin/pear channel-discover components.ez.no
 
  ${php:location}/bin/pear update-channels
  ${php:location}/bin/pear upgrade PEAR

  ${php:location}/bin/pear install pdepend/PHP_Depend-beta
  ${php:location}/bin/pear install phpmd/PHP_PMD-alpha
  ${php:location}/bin/pear install phpunit/phpcpd
  ${php:location}/bin/pear install --force --alldeps phpunit/PHPUnit-3.4.15
  ${php:location}/bin/pear install -f phpunit/DbUnit
  ${php:location}/bin/pear install -f phpunit/PHPUnit_MockObject
  ${php:location}/bin/pear install -f phpunit/PHPUnit_Selenium	
php-configure-options = ${php:configure-options}

[memcached]
recipe = hexagonit.recipe.cmmi
url = http://memcached.googlecode.com/files/memcached-${versions:memcached}.tar.gz
port = ${config:memcached-port}
configure-options = 
   --with-libevent

[apache]
recipe = hexagonit.recipe.cmmi
url = http://archive.apache.org/dist/httpd/httpd-${versions:apache-httpd}.tar.bz2
configure-options =
  --enable-so
  --enable-rewrite
  --enable-mods-shared=all
  --disable-ssl
  --enable-cache
  --enable-disk_cache
  --enable-file_cache
  --enable-mem_cache
  --enable-deflate
  --enable-proxy
  --enable-proxy-connect
  --enable-proxy-http

[mysql]
recipe = hexagonit.recipe.cmmi
url = http://downloads.mysql.com/archives/mysql-5.1/mysql-5.1.53.tar.gz
strip-top-level-dir = true
port = ${config:mysqld-port}
root-password = ${config:mysqld-root-password}
#configure-command = sh configure
configure-options =
	--with-extra-charsets=complex
	--enable-thread-safe-client
	--enable-assembler
	--enable-local-infile
	--with-big-tables
	--enable-large-files-without-debug
		
[mysql_install_db]
recipe = plone.recipe.command
command = 
    ${mysql:location}/bin/mysql_install_db --datadir=${mycnf:datadir}
    echo 
    echo After starting supervisord, you may want to run:
    echo ${buildout:directory}/parts/mysql/bin/mysqladmin -u root password 'new-password'
    echo
update-command = ${mysql_install_db:command}

[mycnf]
recipe = plone.recipe.command
command =
    echo
    echo These options are passed to mysqld_safe: ${mycnf:opt}
    echo
basedir=${mysql:location}
datadir=${buildout:directory}/var/mysql
err = ${mycnf:datadir}/log/mysql.err
sock = /tmp/mysql.sock
opt = --port=${mysql:port} --log-error=${mycnf:err} --basedir=${mycnf:basedir} --datadir=${mycnf:datadir} --socket=${mycnf:sock}

[postgresql]
recipe = hexagonit.recipe.cmmi
url = http://wwwmaster.postgresql.org/redir/296/h/source/v9.0.4/postgresql-9.0.4.tar.gz
extra_options =
  --with-readline
  --enable-thread-safety

[init-pgsql]
recipe = collective.recipe.cmd
on_install = true
on_update = false
cmds = 
    ${postgresql:location}/bin/initdb -D ${postgresql:location}/var/data -E UNICODE

#[mongodb]
#recipe = hexagonit.recipe.cmmi
#url = http://downloads.mongodb.org/src/mongodb-src-r1.8.2.tar.gz

[mongodb]
recipe = rod.recipe.mongodb
darwin-32bit-url = http://fastdl.mongodb.org/osx/mongodb-osx-i386-1.8.2.tgz
darwin-64bit-url = http://fastdl.mongodb.org/osx/mongodb-osx-x86_64-1.8.2.tgz
linux2-32bit-url = http://fastdl.mongodb.org/linux/mongodb-linux-i686-1.8.2.tgz
linux2-64bit-url = http://fastdl.mongodb.org/linux/mongodb-linux-x86_64-1.8.2.tgz

#[php-mongodb]
#recipe = hexagonit.recipe.cmmi
#dummy_option = ${create_basic_symlinks:on_install} # hack to ensure that php symlinks exist
#url = https://github.com/mongodb/mongo-php-driver/tarball/master
#configure-command = ${php:location}/bin/phpize && ./configure

[php-mongodb]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds =
  ${php:location}/bin/pecl install mongo
